.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 45px 30px;
}

/* 1. Play button */
.button--play {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 180px;
  height: 60px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 5px 0 black;
}

.button--play i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.button--play span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
}

/* 2. Heart button */
.button--heart {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 0 5px 0 black;
}

.button--heart i {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 3. Share button */
.button--share {
 display: flex;
  justify-content: center;
  align-content: center;
  width: 60px;
  height: 60px;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 0 5px 0 black;
}

.button--share i {
  display: flex;
  justify-content: center;
  align-items: center;
}